{% extends 'base.html' %}

{% block content %}
      <h1>Expenses List</h1>

      <ul class="list-group">
            <li class="list-group-item">Bought Bearrrrrr</li>
            <li class="list-group-item">Bought Bearrrr</li>
            <li class="list-group-item">Bought Br</li>
            <li class="list-group-item">Bought ggggggggggg</li>
            <li class="list-group-item">Bought Bear</li>
            <li class="list-group-item">Bought Bear</li>
            <li class="list-group-item">Bought Bearrrrrrrrrrr</li>
            <li class="list-group-item">Bought Bear</li>
            <li class="list-group-item">Bought Bear</li>
            <li class="list-group-item">Bought Bear</li>
            <li class="list-group-item">Bought Bear</li>
      </ul>
{% endblock %}
